<html>
  <head>
    <title>今日のアニメ</title>
    <meta name="description" content="アニメレコメンド" />
    <meta property="og:url" content="http://cympfh.cc/anime">
    <meta property="og:title" content="今日のアニメ" />
    <meta property="og:description" content="アニメレコメンド" />
    <meta property="og:image" content="http://cympfh.cc/resources/img/identicon.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cympfh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- dev
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->
    <!-- prod
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div class="section">

      <div class="container">
        <h1 class="title">Today's Your Anime</h1>
        <p class="has-text-right">
        <span class="socialshare">
          <a class="github-button" href="https://github.com/cympfh/island" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" aria-label="Star cympfh/island on GitHub">Star</a>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Today's Your Anime" data-size="large" data-count="none">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
        </p>
      </div>

      <div class="container">

        <div class="tabs is-boxed">
          <ul>
            <li class="is-active"><a>Anime PickUp</a></li>
            <li><a href="/anime/recommend">Recommend</a></li>
          </ul>
        </div>

        <div class="columns">

          <div class="column is-one-third">
            <div id="gacha">

              <div class="container mb-1" v-if="image">
                <img style="max-height: 30vh" v-bind:src="image" />
              </div>

              <h2 class="subtitle">
                  {{ title }}
                <a v-bind:href="'https://annict.jp/works/' + annictId" target="_blank">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </h2>

              <div class="container mt-4">
                <aside class="menu" v-if="!image">
                  <p class="menu-label">10 Relatives</p>
                  <ul class="menu-list">
                    <li v-for="anime in relatives">
                      <a v-bind:href="'/anime/' + anime['annictId']">{{ anime["title"] }}</a>
                    </li>
                  </ul>
                </aside>
                <aside class="menu" v-else>
                  <p class="menu-label">5 Relatives</p>
                  <ul class="menu-list">
                    <li v-for="anime in relatives_short">
                      <a v-bind:href="'/anime/' + anime['annictId']">{{ anime["title"] }}</a>
                    </li>
                  </ul>
                </aside>
              </div>

            </div>
          </div>

          <div class="column">
            <div class="container has-text-right">
              <a href="/anime/random"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Random</a>
            </div>
            <div style="max-height: 65vh;" id="graph"></div>
          </div>

        </div>
      </div>
    </div>

    <script>
      var annict_id = location.href.replace(/\?.*/g, '').replace(/#.*/g, '').split('/').pop();

      var gacha = new Vue({
        el: '#gacha',
        data: {
          title: "",
          image: "",
          annictId: annict_id,
          relatives: [],
          relatives_short: []
        },
        created() {
          fetch(`http://${location.host}/anime/api/info?annict_id=${annict_id}`)
            .then(response => response.json())
            .then(json => {
              this.title = json["title"];
              this.image = json["image"];
              if (this.image === "" || this.image === "UNKNOWN" || this.image == null) {
                this.image = false;
              }
              this.annictId = json["annictId"];
              this.relatives = json["relatives"];
              this.relatives_short = json["relatives"].slice(0, 5);
            });
        }
      })
    </script>

    <script type="text/javascript">
      // var degree_first = 6;
      var degree_second = 4;
      var graph = new Vue({
        el: '#graph',
        data: {
          used_node_ids: new Set(),
          used_edged: new Set(),
          data: {
            nodes: new vis.DataSet([]),
            edges: new vis.DataSet([]),
          },
          options: {
            autoResize: true,
            width: '100%',
            height: '94%'
          }
        },
        created() {

          var addNode = (node) => {
            if (!this.used_node_ids.has(node.annictId)) {
              this.used_node_ids.add(node.annictId);
              this.data.nodes._addItem({id: node.annictId, label: node.title});
            }
          }

          var addEdge = (u, v) => {
            if (u.annictId > v.annictId) return addEdge(v, u);
            var hashkey = (u.annictId | 0) * 99999 + (v.annictId | 0);
            if (!this.used_edged.has(hashkey)) {
              addNode(u);
              addNode(v);
              this.used_edged.add(hashkey);
              this.data.edges._addItem({from: u.annictId, to: v.annictId});
            }
          }

          fetch(`http://${location.host}/anime/api/info?annict_id=${annict_id}`)
            .then(response => response.json())
            .then(root => {

              var container = document.getElementById('graph');

              for (var neigh_first of root.relatives) {
                if (this.data.nodes.length > 20) break;
                fetch(`http://${location.host}/anime/api/info?annict_id=${neigh_first.annictId}`)
                  .then(response => response.json())
                  .then(neigh_first => {
                    addEdge(root, neigh_first);
                    for (var neigh_second of neigh_first.relatives.slice(0, degree_second)) {
                      addEdge(neigh_first, neigh_second);
                    }
                    network = new vis.Network(container, this.data, this.options);
                    network.on('doubleClick', (e) => {
                      if (e.nodes[0]) {
                        location.href = `/anime/${e.nodes[0]}`;
                      }
                    });
                  });
              }
            });
        }

      });
    </script>

  </body>
</html>
