<html>
  <head>
    <title>今日のアニメ</title>
    <meta property="og:url" content="http://cympfh.cc/anime">
    <meta property="og:title" content="今日のアニメ" />
    <meta property="og:description" content="アニメレコメンド" />
    <meta property="og:image" content="http://cympfh.cc/resources/img/identicon.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cympfh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- dev
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->
    <!-- prod
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div class="section">

      <div class="container">
        <h1 class="title">Today's Your Anime</h1>
        <p class="has-text-right">
        <span class="socialshare">
          <a class="github-button" href="https://github.com/cympfh/island" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" aria-label="Star cympfh/island on GitHub">Star</a>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Today's Your Anime" data-size="large" data-count="none">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
        </p>
      </div>

      <div class="container">

        <div class="tabs is-boxed">
          <ul>
            <li><a>Anime PickUp</a></li>
            <li><a href="/anime/recommend">Recommend</a></li>
          </ul>
        </div>

        <aside class="menu">
          <p class="menu-label">
          Random PickUp
          </p>
          <ul class="menu-list">
            <li><a href="/anime/random">Anime PickUp</a></li>
          </ul>
          <p class="menu-label">
          Recommend for You
          </p>
          <ul class="menu-list">
            <li><a href="/anime/recommend">Recommend</a></li>
          </ul>
        </aside>

      </div>
    </div>

  </body>
</html>
