<html>
  <head>
    <title>今日のアニメ</title>
    <meta name="description" content="アニメレコメンド" />
    <meta property="og:url" content="http://cympfh.cc/anime">
    <meta property="og:title" content="今日のアニメ" />
    <meta property="og:description" content="アニメレコメンド" />
    <meta property="og:image" content="http://cympfh.cc/resources/img/identicon.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cympfh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- dev
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->
    <!-- prod
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div class="section">

      <div class="container">
        <h1 class="title">Today's Your Anime</h1>
        <p class="has-text-right">
        <span class="socialshare">
          <a class="github-button" href="https://github.com/cympfh/island" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" aria-label="Star cympfh/island on GitHub">Star</a>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Today's Your Anime" data-size="large" data-count="none">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
        </p>
      </div>

      <div class="container">
        <div class="tabs is-boxed">
          <ul>
            <li><a href="/anime/random">Anime PickUp</a></li>
            <li class="is-active"><a>Recommend</a></li>
          </ul>
        </div>

        <div id="recommend">
          <div class="container">
            <div class="columns">

              <!-- sources -->
              <div class="column">
                <table class="table is-fullwidth">
                  <thead>
                    <tr>
                      <td>Which animes do you</td>
                      <td>Like?</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="anime in sources">
                      <td>
                        <label v-bind:for="anime.annictId">
                          {{ anime.title }}
                        </label>
                      </td>
                      <td>

                        <div class="control">
                          <label class="checkbox" style="color: #ccc">
                            <input type="checkbox"
                                   v-bind:value="anime.annictId"
                                   v-bind:id="anime.annictId"
                                   v-on:change="change"
                                   v-model="likes"
                                   />
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          </label>
                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- recommended -->
              <div class="column">
                <table class="table is-fullwidth">
                  <thead>
                    <tr>
                      <td>Recommended</td>
                      <td>score</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="anime in recommended">
                      <td>
                        <a v-bind:href="'/anime/' + anime['annictId']">{{ anime.title }}</a>
                      </td>
                      <td>{{ anime.score }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <script>
      var recommend = new Vue({
        el: '#recommend',
        data: {
          sources: [],
          likes: [],
          recommended: []
        },
        created() {
          fetch(`http://${location.host}/anime/api/recommend`)
            .then(response => response.json())
            .then(json => {
              this.sources = json['items'];
            });
        },
        methods: {
          change: function () {
            for (var id of this.sources) {
              document.getElementById(id.annictId).parentElement.style.color = '#ccc';
            }
            for (var id of this.likes) {
              document.getElementById(id).parentElement.style.color = '#dd5555';
            }
            if (this.likes.length === 0) {
              this.recommended = [];
              return;
            }
            var params = this.likes.map(aid => `likes=${aid}`).join('&');
            fetch(`http://${location.host}/anime/api/recommend?${params}`)
              .then(response => response.json())
              .then(json => {
                this.recommended = json['items'];
              });
          }
        }
      })
    </script>

  </body>
</html>
