<html>
  <head>
    <title>今日のアニメ</title>
    <meta property="og:url" content="http://cympfh.cc/anime">
    <meta property="og:title" content="今日のアニメ" />
    <meta property="og:description" content="cympfh.cc/anime" />
    <meta property="og:image" content="http://cympfh.cc/resources/img/identicon.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cympfh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <!-- dev
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->
    <!-- prod
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div class="section">

      <div class="container">
        <h1 class="title">Today's Your Anime</h1>
        <p class="has-text-right">
        <span class="socialshare">
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Today's Your Anime" data-size="large" data-count="none">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
        </p>
      </div>

      <div class="container">
        <div class="tabs">
          <ul>
            <li><a href="/anime/">Anime Graph</a></li>
            <li class="is-active"><a>Recommend</a></li>
          </ul>
        </div>
      </div>

      <div id="recommend">
        <div class="container">
          <div class="columns">

            <!-- sources -->
            <div class="column">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <td>Rate Animes</td>
                    <td>Like?</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="anime in sources">
                    <td>
                      <a v-bind:href="'https://annict.jp/works/' + anime.annictId"><i class="fa fa-plane" aria-hidden="true"></i></a>
                      {{ anime.title }}
                    </td>
                    <td>
                      <div class="control">
                        <label class="checkbox">
                          <input type="checkbox"
                            v-bind:value="anime.annictId"
                            v-bind:id="anime.annictId"
                            v-on:change="change"
                            v-model="likes"
                          />
                          <i class="fa fa-heart" aria-hidden="true"></i>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- recommended -->
            <div class="column">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <td>Recommended</td>
                    <td>score</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="anime in recommended">
                    <td>
                      <a v-bind:href="'https://annict.jp/works/' + anime.annictId"><i class="fa fa-plane" aria-hidden="true"></i></a>
                      {{ anime.title }}
                    </td>
                    <td>{{ anime.score }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="section">
      <div class="container">
        <div class="notification is-primary">
          <button class="delete"></button>
          Hint:
          <pre><code>curl /anime/api/recommend?likes=1205</code></pre>
        </div>
      </div>
    </div>


    <script>
      var recommend = new Vue({
        el: '#recommend',
        data: {
          sources: [],
          likes: [],
          recommended: []
        },
        created() {
          fetch(`http://${location.host}/anime/api/recommend`)
            .then(response => response.json())
            .then(json => {
              this.sources = json['items'];
            });
        },
        methods: {
          change: function () {
            var params = this.likes.map(aid => `likes=${aid}`).join('&');
            fetch(`http://${location.host}/anime/api/recommend?${params}`)
              .then(response => response.json())
              .then(json => {
                this.recommended = json['items'];
              });
          }
        }
      })
    </script>

  </body>
</html>
